{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="/main">Главная</a></li>
				<li class="active">Учетная запись</li>
			</ol>
		</div>
	</div>
</div>
<div class="account">
	<div class="container">
	<div class="account-top heading">
			<h2>УЧЕТНАЯ ЗАПИСЬ</h2>
		</div>
		<div class="account-main">
			<div class="col-md-6 account-left">
				<h3>Существующий пользователь</h3>
				<div class="account-bottom">
					<form action="/login" method="post">
			            {% csrf_token %}
			            <input name="username" type="text" placeholder="username">
			            <input name="password" type="password" placeholder="password">
			            <input class="submit-btn" type="submit" value="Подтвердить">
       				</form>
       			</div>
			</div>
			<div class="col-md-6 account-right account-left">
				<h3>Новый пользователь?</h3>
				<p>Создав учетную запись в нашем магазине, вы сможете быстрее пройти через процесс оформления заказа, сохранить несколько адресов доставки, просматривать и отслеживать свои заказы в своей учетной записи и многое другое.</p>
				<a href="/register">Регестрация</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}