{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="/main">Главная</a></li>
				<li class="active">Регистрация</li>
			</ol>
		</div>
	</div>
</div>
<div class="register">
	<div class="container">
		<div class="register-top heading">
			<h2>РЕГИСТРАЦИЯ</h2>
		</div>
		<div class="register-main">
			<div class="col-md-6 account-left">
                   <form  method="post" action="/register">
                       {% csrf_token %}
                       {{ form }}

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="address submit">
						<input class="submit-btn" type="submit" value="Подтвердить">
		</div>
                   </form>
	</div>
</div>
{% endblock %}