{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/main">Главная</a></li>
        <li class="active">Товары</li>
      </ol>
    </div>
  </div>
</div>

<div class="product">
    <div class="container">
      <div class="product-top">
        <div class="product-one">
          <div class="col-md-3 product-left">
            <div class="product-main simpleCart_shelfItem">
          </div>
          <div class="product-bottom">
           {% for product_image in products_images %}
               <div class="col-md-4 fashion-grid">
               <div class="product-item">
                 <div>
                   <a href="{% url 'product' product_image.product.id %}">
                   <img src="{{product_image.image.url}}" class="img-responsive">
                   </a>
                 </div>
                 <h4>{{product_image.product.name}}</h4>
               </div>
             </div>
          </div>
           {% endfor %}
      </div>
        </div>
        </div>
        </div>
        </div>
       </div>
     </div>
     <div class="clearfix"></div>
   </div>
</div>
{% include 'footer.html' with user=user %}

</body>
{% endblock %}