{% extends 'main.html' %}

{% block content %}
<div class="logo">
    <h1 align="center">Приветствуем Вас в интернет-магазине Clock Shop</h1>

<p align="left">
	Наш сайт располагает одним из крупнейших в интернете каталогов оригинальных часов известных мировых брендов. Изучив его и выбрав наиболее приглянувшуюся модель, Вы сможете легко купить часы в Минске.
</p>
<p align="left">
<br><b>Мы предлагаем нашим покупателям:</br></b>
</p>


<p align="left">
Только оригинальные товары от проверенных официальных поставщиков с полной гарантией и документацией.
</p>
<p align="left">
Огромный ассортимент в наличии в нашем розничном магазине, где  Вы можете получить консультацию,  посмотреть, примерить и купить.
</p>
<p align="left">
Ваши интересы защищены у нас белорусскими и международными сервисами. Четыре сервис - центра в Минске к вашим услугам.
</p>
<p align="left">
Собственная служба доставки в Минске, сотрудничаем с несколькими службами доставки по Беларуси.  Доставляем максимально быстро!
</p>
<p align="left">
Конкурентноспособные цены, быстрая реакция на заказы, гарантия поставок – эти элементы делают наше предложение интересным, а также увеличивают безопасность
</p>
<p align="left">
У нас огромная база постоянных клиентов, дисконтная программа скидок, к нам приходят снова и снова чтобы приобрести Лучшие часы.
</p>


<p align="left"><b>Благодарим Вас за выбор магазина!</b></p>
</div>

{% endblock %}