<!DOCTYPE html>
{% load static %}

<html>
<head>
<title>Clock Shop</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Clock Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'js/memenu.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
</head>
<body>
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-md-6 top-header-left">
					<h4> {% include 'header.html' with user=user %} </h4>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="logo">
		<a href="/main"><h1>Clock Shop</h1></a>
	</div>
{% include 'bottom.html' with user=user %}

{% block content %}
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<img src="{% static 'images/bnr-1.jpg' %}" alt=""/>
				</li>
				<li>
					<img src="{% static 'images/bnr-2.jpg' %}" alt=""/>
				</li>
				<li>
					<img src="{% static 'images/bnr-3.jpg' %}" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>

<div class="clearfix"></div>
{% include 'visual_prod.html' with user=user %}
{% endblock %}
{% include 'footer.html' with user=user %}

</body>

</html>
