{% load static%}

<div class="product">
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product/14" class="mask"><img class="img-responsive zoom-img" src="{% static 'media/products_images/p-7.png' %}" alt="" /></a>
							<div class="product-bottom">
								<h3>Часы мужские Casio EFV-C100D-1A</h3>
								<p>Исследуй сейчас</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">195 руб. <strike>337руб.</strike></span></h4>
							</div>
							<div class="srch">
								<span>-42%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product/15" class="mask"><img class="img-responsive zoom-img" src="{% static 'media/products_images/p-10.png' %}" alt="" /></a>
							<div class="product-bottom">
								<h3>Часы мужские Casio EF-316D-1A</h3>
								<p>Исследуй сейчас</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">123 руб. <strike>205руб.</strike></span></h4>
							</div>
							<div class="srch">
								<span>-40%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product/9" class="mask"><img class="img-responsive zoom-img" src="{% static 'media/products_images/p-2.png' %}"  alt="" /></a>
							<div class="product-bottom">
								<h3>Часы женские Casio SHN-5000BP-7A</h3>
								<p>Исследуй сейчас</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">303 руб.  <strike>406руб.</strike></span></h4>
							</div>
							<div class="srch">
								<span>-25%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product/13" class="mask"><img class="img-responsive zoom-img" src="{% static 'media/products_images/p-6.png' %}" alt="" /></a>
							<div class="product-bottom">
								<h3>Часы мужские Casio BEM-111D-1A</h3>
								<p>Исследуй сейчас</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">165 руб.  <strike>238руб.</strike></span></h4>
							</div>
							<div class="srch">
								<span>-31%</span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>